<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Video">
       <setting type="select" id="resolution" label="Resolution" values="720|1080|4k" default="1080"/>
       <setting type="select" id="fps" label="Frames Per Second" values="30|60" default="60"/>
       <setting type="select" id="bitrate" label="Bitrate (kb/s)" values="auto|5000|10000|15000|20000" default="auto"/>
       <setting type="bool" id="quitafter" label="Force Quit After" default="false"/>
    </category>
    <category label="Host Detection">
       <setting type="bool" id="autodetect" label="Auto-Detect Gamestream Host IP" default="true"/>
       <setting type="ipaddress" id="hostip" label="Custom Host IP"/>
    </category>
    <category label="Config">
       <setting type="bool" id="firstrun" label="First Run Flag (triggers installation)" default="true"/>
    </category>   

</settings>

